<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-3xl font-semibold tracking-tight">Pagos pendientes</div>

    </div>

    <!--Main-->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-row items-baseline flex-wrap gap-2.5 justify-center overflow-hidden sm:overflow-y-auto bg-gray-100 sm:p-2"
        >

            <fuse-card class="filter-list flex w-full max-w-lg flex-col p-6 sm:p-8 mt-4 shadow-lg rounded-lg bg-white">
                <div class="space-y-6">
                    <div class="flex justify-between items-center">
                        <span class="font-semibold text-gray-700">Fecha próximo pago:</span>
                        <span class="text-md text-secondary">{{ data.fechaCobro }}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-semibold text-gray-700">Próximo pago:</span>
                        <span class="text-md text-secondary">{{ data.montoProximoPago }}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-semibold text-gray-700">Deuda total:</span>
                        <span class="text-md text-secondary">{{ data.deudaTotal }}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-semibold text-gray-700">Estado:</span>
                        <span class="text-md text-secondary">{{ data.nombreEstadoCredito }}</span>
                    </div>
                </div>
            </fuse-card>


        </div>

    </div>

</div>
